/* General */
body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 400; }
  body:outline {
    color: yellow; }

::selection {
  background: yellow;
  color: black; }

body,
h1, h2, h3, h4, h5, h6,
p {
  margin: 0; }

*,
:before,
:after {
  box-sizing: border-box; }

/* Container */
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px; }

/* Cards and card */
.cards-wrap {
  display: flex;
  min-width: 100%;
  min-height: 100%;
  overflow-x: auto; }
  .cards-wrap::-webkit-scrollbar {
    display: none; }

.card-item {
  min-width: 100%; }

/* Header*/
.header {
  width: 100%;
  position: absolute;
  top: 10px;
  left: 0;
  z-index: 2; }

.header__inner {
  display: flex;
  justify-content: center; }

/* Intro */
.intro {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  background: linear-gradient(90deg, #23bad5, #237fd5); }

/* Hello */
.intro__hello,
.intro__text {
  font-size: 4.5em;
  line-height: 1.2;
  color: #FFF; }

.intro__hello {
  margin-bottom: 30px;
  line-height: 1.2; }

.intro__text {
  font-size: 2.1em; }

/* Nav */
.nav {
  display: flex;
  justify-content: space-between;
  width: 40%;
  padding-bottom: 15px;
  border-bottom: solid 1px #FFF;
  position: relative; }
  .nav #black-line {
    display: block;
    content: '';
    width: 25%;
    height: 2px;
    position: absolute;
    bottom: -1px;
    left: 0%;
    z-index: 1;
    font-size: 0;
    color: transparent;
    transition: left .45s linear;
    background-color: #000; }

.nav__link {
  font-size: 1.7em;
  color: #FFF;
  text-decoration: none;
  transition: color .2s linear; }

.nav__link:last-child {
  margin-right: 0; }

.nav__link:hover {
  color: #000; }

/* Projects */
.projects {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  background: linear-gradient(90deg, #237fd5, #c023d5);
  background-size: 100%;
  animation: port 15s ease infinite; }

.projects__wrap {
  justify-content: center;
  display: flex;
  align-items: center;
  width: 100%;
  overflow: hidden;
  margin: 0 auto; }
  .projects__wrap i {
    font-size: 3em;
    color: #fff; }
    .projects__wrap i:hover {
      color: yellow;
      cursor: pointer; }
    .projects__wrap i:active {
      color: #c5c50f; }

.slider {
  display: flex;
  width: 40%;
  overflow: hidden;
  margin: 0 15px; }

.slider__item {
  width: 100%;
  display: none;
  height: 200px;
  background-color: yellow; }

.slider__item:nth-child(2) {
  background-color: blue; }

.slider__item:nth-child(3) {
  background-color: purple; }

.slider__item:nth-child(4) {
  background-color: salmon; }

.slider__item:nth-child(5) {
  background-color: skyblue; }

.slider__item:nth-child(6) {
  background-color: gray; }

.sliderOn {
  display: block; }

.contacts {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  text-align: center;
  background: linear-gradient(90deg, #c023d5, #d52323);
  background-size: 100%; }

.form-wrap {
  padding-top: 50px; }

.form__logos {
  width: 10%;
  margin: 0 auto 30px;
  font-size: 30px;
  display: flex;
  justify-content: space-around;
  color: white; }
  .form__logos a {
    color: #ffff32;
    text-decoration: none; }
    .form__logos a:hover {
      color: #fff; }

/* Form */
.form {
  width: 100%;
  max-width: 670px;
  margin: 0 auto; }

.form__row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px; }

input[type=text],
input[type=email],
textarea {
  padding: 15px 20px;
  font-family: 'Nunito Sans', sans-serif;
  font-size: .8em;
  color: black;
  border: none;
  outline: .1em solid black;
  text-align: left; }
  input[type=text]:focus,
  input[type=email]:focus,
  textarea:focus {
    background-color: #eceaea; }

textarea {
  width: 100%;
  max-width: 670px;
  height: 170px;
  resize: none; }

.form__name,
.form__email {
  width: 49%;
  border: none; }

.form__title {
  width: 100%; }

.feedback__title {
  margin-bottom: 30px;
  font-size: 1.87em;
  font-weight: 600;
  color: #1d1d1d; }

.feedback__subtitle {
  width: 100%;
  max-width: 560px;
  margin: 0 auto 30px;
  font-family: 'Nunito Sans';
  font-weight: 600;
  color: #787878; }

.btn {
  width: 100%;
  padding: 20px;
  border: none;
  background-color: #ffff32;
  outline: .1em solid black; }
  .btn:active {
    background-color: #cec9c9; }
  .btn:hover {
    cursor: pointer;
    background-color: #cec9c9; }

@media (max-width: 1000px) {
  body {
    font-size: 13px; }

  .nav {
    width: 75%; }

  .form {
    width: 65%; }

  .form__logos {
    width: 15%; } }
@media (max-width: 750px) {
  .intro__hello {
    font-size: 3.2em; }

  .intro__text {
    font-size: 1.9em; } }
@media (max-width: 650px) {
  .nav__link {
    font-size: 1.3em; }

  .form__logos {
    width: 20%; }

  .form {
    width: 80%; }

  .btn {
    padding: 15px; } }
@media (max-width: 480px) {
  .intro__hello {
    font-size: 2.5em; }

  .intro__text {
    font-size: 1.3em; }

  .nav {
    width: 100%; }

  .form {
    width: 90%; }

  .form__logos {
    width: 30%; } }
