// Contacts
.contacts {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    text-align: center;
    
	background: linear-gradient(90deg, #c023d5, #d52323);
	background-size: 100%;
}

.form-wrap {
    padding-top: 50px;
}


.form__logos {
    & a {
        color: rgb(255, 255, 50);;
        text-decoration: none;

        &:hover {
            color: #fff;
        }
    }

    width: 10%;
    margin: 0 auto 30px;
    font-size: 30px;
    display: flex;
    justify-content: space-around;
    color: white;
}

/* Form */
.form {
    width: 100%;
    max-width: 670px;
    margin: 0 auto;
}

.form__row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

input[type=text],
input[type=email],
textarea {
    padding: 15px 20px;
    font-family: 'Nunito Sans', sans-serif;
    font-size: .8em;
    color: black;
    border: none;
    // border: 1px solid black;
    outline: .1em solid black;
    text-align: left;

    &:focus {
        background-color: rgb(236, 234, 234);
    }
}

textarea { 
    width: 100%;
    max-width: 670px;
    height: 170px;

    resize: none;
}

.form__name,
.form__email {
    width: 49%;
    border: none;
    // outline: 1px solid yellow;
}

.form__title {
    width: 100%;
}


.feedback__title {
    margin-bottom: 30px;
    font-size: 1.87em;
    font-weight: 600;
    color: #1d1d1d;
}

.feedback__subtitle {
    width: 100%;
    max-width: 560px;
    margin: 0 auto 30px;
    font-family: 'Nunito Sans';
    font-weight: 600;
    color: #787878;
}

.btn {
    width: 100%;
    padding: 20px;
    border: none;
    // background-color: rgb(236, 234, 234);
    background-color: rgb(255, 255, 50);
    outline: .1em solid black;

    &:active {
        background-color: rgb(206, 201, 201);
    }

    &:hover {
        cursor: pointer;
        background-color: rgb(206, 201, 201);
    }
}