/* Header*/
.header {
    width: 100%;
    position: absolute;
    top: 10px;
    left: 0;
    z-index: 2;

    &__inner {
        display: flex;
        justify-content: center;        
    }
}


/* Intro */
.intro {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    
	background: linear-gradient(90deg, #23bad5, #237fd5);
}


/* Hello */
.intro__hello,
.intro__text {
    font-size: 4.5em;
    line-height: 1.2;
    color: #FFF;
}

.intro__hello {
    margin-bottom: 30px;
    line-height: 1.2;
}

.intro__text {
    font-size: 2.1em;
}