/* Header*/
.header {
    width: 100%;
    position: absolute;
    top: 10px;
    left: 0;
    z-index: 2;
}

.header__inner {
    display: flex;
    justify-content: center;
}


/* Intro */
.intro {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    
	background: linear-gradient(90deg, #23bad5, #237fd5);
}


// .intro__introducion {
//     position: relative;

//     #intro__arrow {
//         content: '';
//         display: block;
//         position: absolute;
//         width: 3px;
//         height: 50px;
//         top: 50%;
//         right: 0%;
//         transform: translateY(-50%) rotate(90deg);
//         z-index: 1;

//         font-size: 0;
//         color: transparent;
//         background-color: #fff;
//     }

//     &:before {
//         content: '';
//         display: block;
//         position: absolute;
//         width: 3px;
//         height: 50px;
//         top: 50%;
//         right: 3%;
//         transform: translateY(-50%) rotate(90deg);
//         z-index: 1;

//         font-size: 0;
//         color: transparent;
//         background-color: #fff;
//     }

    
// }


/* Hello */
.intro__hello,
.intro__text {
    font-size: 4.5em;
    line-height: 1.2;
    color: #FFF;
}

.intro__hello {
    margin-bottom: 30px;
    line-height: 1.2;
}

.intro__text {
    font-size: 2.1em;
}