// Media
@media (max-width: 1000px) {
    // Body
    body {
        font-size: 13px;
    }
    
    // Nav
    .nav {
        width: 75%;
    }

    // Form
    .form {
        width: 65%;
    }

    .form__logos {
        width: 15%;
    }
}


@media (max-width: 750px) {
    .intro__hello {
        font-size: 3.2em;
    }

    .intro__text {
        font-size: 1.9em;
    }
}

@media (max-width: 650px) {

    .nav__link {
        font-size: 1.3em;
    }

    .form__logos {
        width: 20%;
    }

    .form {
        width: 80%;
    }

    .btn {
        padding: 15px;
    }
}


@media (max-width: 480px) {

    .intro__hello {
        font-size: 2.5em;
    }

    .intro__text {
        font-size: 1.3em;
    }

    .nav {
        width: 100%;
    }


    .form {
        width: 90%;
    }

    .form__logos {
        width: 30%;
    }


}