/* Nav */
.nav {
    display: flex;
    justify-content: space-between;
    width: 40%;
    padding-bottom: 15px;
    border-bottom: solid 1px #FFF;
    position: relative;

    #black-line {
    display: block;
    content: '';
    width: 25%;
    height: 2px;
    position: absolute;
    bottom: -1px;
    left: 0%;
    z-index: 1;

    font-size: 0;
    color: transparent;
    transition: left .45s linear;
    background-color: #000;
    }
}

.nav__link {
    font-size: 1.7em;
    color: #FFF;
    text-decoration: none;
    transition: color .2s linear;

    &:last-child {
        margin-right: 0;   
    }

    &:hover {
        color: #000;
    }
}