/* Projects */
.projects {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    
	background: linear-gradient(90deg, #237fd5, #c023d5);
	background-size: 100%;
	animation: port 15s ease infinite;
}

.projects__wrap {
    justify-content: center;
    display: flex;
    align-items: center;
    width: 100%;
    overflow: hidden;
    margin: 0 auto;


    i {
        font-size: 3em;
        color: #fff;

        &:hover {
            color: yellow;
            cursor: pointer;
        }

        &:active {
            color: rgb(197, 197, 15);
        }
    }

}



.slider {
    display: flex;
    width: 40%;
    overflow: hidden;
    margin: 0 15px;
}


.slider__item {
    width: 100%;
    display: none;
    height: 200px;
    background-color: yellow;
}

.slider__item:nth-child(2) {
    background-color: blue;
}

.slider__item:nth-child(3) {
    background-color: purple;
}

.slider__item:nth-child(4) {
    background-color: salmon;
}

.slider__item:nth-child(5) {
    background-color: skyblue;
}

.slider__item:nth-child(6) {
    background-color: gray;
}

.sliderOn {
    display: block;
}