/* General */
body {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: "Raleway", sans-serif;
    font-size: 16px;
    font-weight: 400;

    &:outline {
        color: yellow;
    }
}


::selection {
    background: yellow;
    color: black;
}

body,
h1, h2, h3, h4, h5, h6,
p {
    margin: 0;
}

*,
:before,
:after {
    box-sizing: border-box;
}

/* Container */
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}