// Reset and container
@import 'reset.scss';
// Cards and card
@import 'cards.scss';
// Intro and header
@import 'intro.scss';
// Nav
@import 'nav.scss';
// Projects and Slider
@import 'projects.scss';
// Contacts
@import 'contacts.scss';
// Media
@import 'media.scss';